@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*custom properties*/

/*colors*/
:root {
  --clr-primary-bright-orange: 31, 77%, 52%;
  --clr-primary-dark-cyan: 184, 100%, 22%;
  --clr-primary-very-dark-cyan: 179, 100%, 13%;

  --clr-neutral-white: 0, 0%, 100%, 0.75;
  --clr-very-light-grey: 0, 0%, 100%, 0.75;

  /* font */
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 0.9375rem; /*15px*/
  --fs-500: 1.5rem; /*24px*/
  --fs--600: 2rem; /*32px*/
}

/*CSS Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/*start styling*/
body {
  font-size: var(--fs-400);
  font-family: "Lexend Deca", sans-serif;
  color: hsla(var(--clr-neutral-white));
}

.car-summary {
  max-width: 53rem; /*896 px on larger screen*/
  display: grid; /*to make 3 columns on larger screen*/
  padding: 5rem 1rem;
}

.grid-flow {
  display: grid;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}

[data-spacing="large"] {
  line-height: 1.5;
}

.sedan {
  background-color: hsl(var(--clr-primary-bright-orange));
  border-radius: 0.5rem 0.5rem 0 0;
}

.suvs {
  background-color: hsl(var(--clr-primary-dark-cyan));
}

.luxury {
  background-color: hsl(var(--clr-primary-very-dark-cyan));
  border-radius: 0 0 0.5rem 0.5rem;
}

.title {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: var(--fs--600);
  font-weight: var(--fw-bold);
}

.learn-more {
  padding-inline: 2em;
  padding-block: 0.8em;
  border-radius: 1.5rem;
  border: 0.1rem solid white;
  justify-self: start;
  cursor: pointer;
  transition: color 0.15s;
}

.sedan .learn-more {
  color: hsl(var(--clr-primary-bright-orange));
}

.suvs .learn-more {
  color: hsl(var(--clr-primary-dark-cyan));
}

.luxury .learn-more {
  color: hsl(var(--clr-primary-very-dark-cyan));
}

.learn-more:hover {
  background-color: transparent;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .car-summary {
    grid-template-columns: 1fr 1fr 1fr;
  }

  body {
    display: grid;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
  }

  .learn-more {
    margin: 0 auto;
  }

  .grid-flow {
    gap: 2rem;
  }

  .sedan {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  [data-spacing="large"] {
    margin-bottom: 2rem; /*large gap*/
  }
}
